{% extends "../../users/templates/users/base.html" %}

{% block content %}
<div id = "content-wrapper">
    <div style="padding: 10px;">
<h1> {{ appointment.begins|date:"l, M Y" }} Appointment </h1>
<table width="50%">
    <thead>
    <tr>
        <th>Date & Time</th>
        <th>Doctor</th>
        <th>Patient</th>
        <th>Length</th>
        <th>Location</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ appointment.begins|date:"m/d/Y g:i a" }}</td>
            <td>{{ doctor.user.first_name }} {{ doctor.user.last_name }}</td>
            <td>{{ patient.user.first_name}} {{ patient.user.last_name}}</td>
            <td>{{ appointment.length}}</td>
            <td>{{ appointment.location}}</td>
        </tr>
    </tbody>
</table>

<h2>Confirm cancellation of this appointment</h2>

<p><a href="/cal/delete/{{appointment.id}}">yes, cancel this appointment</a></p>
<p><a href="/appointments/{{appointment.id}}">no, do not cancel the appointment</a></p>
        </div>
    </div>
{% endblock %}