{% extends 'users/base.html' %}
{% block content %}
     <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h3>
                    Admissions Screen
                </h3>
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-default" onclick="location.href= '{% url 'admit' %}'">Admit a Patient</button>
                            {% if user.enduser.isDoctor %}
                            <button type="button" class="btn btn-default" onclick="location.href= '{% url 'discharge' %}'">Discharge A Patient</button>
                            {% endif%}
                            <button type="button" class="btn btn-default" onclick="location.href= '{% url 'admitted' %}'">View Admitted Patients</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}