{% extends 'users/base.html' %}
{% block content %}
    <div id="content-wrapper">
        <div id ="content">
            <div class="container">
                <div class="row">
                    <div class="3u 12u(mobile)"></div>
                    <div class="5u 12u(mobile)" align="left">
                        <header>
                            <h1>Inbox</h1>
                        </header>
                    </div>
                    <div class="3u 12u(mobile)" align="right">
                        <a class="btn btn-default" href="{% url 'SendMessage' %}" style="color:white">
                            <i class="fa fa-envelope-o fa-lg" style="color:white"></i> Compose
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class = "3u 12u(mobile)">
                            <div class="list-group" align="left">
                                <a href="{% url 'Inbox' %}" class="list-group-item" style="color:black">
                                    <i class="fa fa-inbox fa-fw" aria-hidden="true"></i>&nbsp; Inbox</a>
                                <a href="{% url 'OutBox' %}" class="list-group-item" style="color:black">
                                    <i class="fa fa-send-o fa-fw" aria-hidden="true"></i>&nbsp;Outbox</a>
                                <!--<a href="{% url 'SendMessage' %}" class="btn btn-success"><p style="color:white">Compose</p></a> -->
                            </div>
                    </div>
                {% if messages %}
                    <div class="8u 12u(mobile)">
                            <div class="header">
                                <table class="table table-striped table-hover ">
                                <tr>
                                    <th>Date Sent</th>
                                    <th>Sender</th>
                                    <th>Subject</th>
                                </tr>
                                </table>
                            </div>
                            <style>
                                .body {
                                    height: 500px;
                                    overflow: auto
                                }
                            </style>
                            <div class="body">
                            <table class="table table-striped table-hover ">
                                {% for obj in messages %}
                                    <tr>
                                        <td> <a style="font-size: 20px" href="{% url 'viewMessage' obj.pk %}">
                                            {{ obj.timeSent }} </a></td>
                                        <td> <a style="font-size: 20px" href="{% url 'viewMessage' obj.pk %}">
                                            {{ obj.sender }} </a></td>
                                        <td> <a style="font-size: 20px" href="{% url 'viewMessage' obj.pk %}">
                                            {{ obj.subject }} </a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                            </div>
                    </div>
                {% else %}
                    <div class="8u 12u(mobile)">
                    <h3>You have received no messages.</h3>
                    </div>
                {% endif %}
                </div>
                            </div>
        </div>
    </div>
{% endblock %}