{% extends 'users/base.html' %}
{% block content %}
    <div id="content-wrapper">
        <div id="content">
            <div class="container">
                <div class="12u" align="left">
                    <section>
                        <h2>Terms and Conditions:</h2>
                        <h3>
                            By using HealthNet, you agree to forfeit your rights and soul to ChiMiChanGa and its members for whatever use they deem fit.
                        </h3>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}